@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}




<div class="card">
	<h1>@ViewData["Title"]</h1>
	<div style="text-align: center;" >
		Please check your email to reset your password.
	</div>
</div>