@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Tests" asp-action="Index">Tests</a>
		</li>

		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="TestResults" asp-action="Index">Results</a>
		</li>
	}

	</ul>