@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
    font-weight: 400;
}

body {
    margin-bottom: 60px;
    background-color: whitesmoke;
}

.settings-card-parent {
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    min-height: 300px;

}

.settings-menu {
    background-color: white;
}

.settings-card {
    background-color: white;
    max-width: 660px;
}

.right-boarder {
    border-right : 1px solid #e5e5e5;
}

.card {
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify-all;
    max-width: 800px;
}

a {
    color: #00A8E8;
}

h1, h2 {
    color: #00A8E8;
    margin-bottom: 1rem;
    text-align: center;
}

h3 {
    margin-bottom: 1rem;
}

.card ul {
    list-style: none;
    margin: 3px;
    padding: 0;
}

.theme-btn {
    color: white;
    background-color: #00A8E8;
    border-color: #00A8E8;
}

.table-add-btn {
    margin: 5px;
}


.table-parent {
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-height: 300px;
}

textarea {
    min-height: 800px;
    resize: vertical;
}


table {
    background-color: white;
    padding: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify-all;
}

thead th {
    color: #00A8E8;
}

.feature-item {
    background-color: #00A8E8;
    border: 1px solid black;
    border-radius: 20px;
    color: whitesmoke;
    display: inline-grid;
    margin: 6px;
    padding: 10px;
}

.homepage-article {
    width: 95%;
    margin-left: 2.5%;
}

.form-floating {
    margin-top: 15px;
    margin-bottom: 15px;
}


.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #00A8E8;
}

.Test-questions {
    border: 1px solid #00A8E8;
    min-height: 300px;
    margin: 20px 0;
}

.description {
    min-height: 50px;
    font-weight: 400;
 }