@{
    ViewData["Title"] = "Home Page";
}

<section class="card">
	<h1><b>Create and share your Surveys</b></h1>
	<article class="homepage-article">

		<p>With QuizMaker, you can make quizzes on any topic you want, whether it's for educational purposes or just for fun.</p>
		<p>It's easy to get started. Just sign up for an account and start making quizzes. Choose from a variety of question types, including multiple choice, true or false, and open-ended questions. Add images and videos to make your quizzes more engaging.</p>
		<p>QuizMaker is perfect for teachers who want to create quizzes for their students, businesses that need to test their employees' knowledge, or anyone who wants to challenge their friends with a trivia quiz.</p>
	</article>

	<section class="features" align="center">

		<ul>
			<li class="feature-item">Quiz builder</li>
			<li class="feature-item">Customizable themes</li>
			<li class="feature-item">Sharing options</li>
			<li class="feature-item">Detailed analytics</li>
			<li class="feature-item">Collaborative editing</li>
		</ul>
	</section>
</section>